.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.auth-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 1em;
  background-color: rgba(19, 22, 27, 0.5);
  border: 1px solid var(--border);
  border-radius: var(--radius);
}

.auth-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  margin-bottom: 1em;
}

.auth-img {
  width: 3em;
  height: min-content;
  padding: 0.4em 0.5em 0.2em;
  background: hsla(173, 80%, 50%, 0.1);
  border: 1px solid var(--primary);
  border-radius: var(--radius);
}

.auth-link {
  text-decoration: none;
  color: var(--foreground);
}

.auth-link:hover {
    color: var(--primary);
    text-decoration: underline;
    text-underline-offset: .2em;
}
