header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: .8em 5vw;
    background-color: hsla(218, 17%, 9%, 0.482);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--border);
}

.hearder-brand {
    font-size: 10px;
}

.hearder-brand p {
    font-size: 14px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.navigation {
    color: var(--foreground);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

header button {
    background-color: transparent;
    color: var(--foreground);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    padding: .5em 1em;
    cursor: pointer;
}

main {
    margin-top: 6em;
}