.img-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 6em);
    gap: 2em;
}

.img-form .img {
    width: 50%;
}

.img-form img {
    width: 80%;
}

.img-form form {
    width: 50%;
    padding: 2em;
    background-color: rgba(19, 22, 27, 0.5);
}